@*组织机构查询条件，参考权限管理>用户管理
 只有省市两级*@
@model Dictionary<string, string>
<div id="orgTreeContent" style="display:none; position: absolute;z-index: 888;">
    <ul id="treeOrg" class="ztree" style="background: #ffffff;border:1px solid black;font-size:12px;padding:4px;"></ul>
    <div style="clear:both;"></div>
</div>
组织机构：<input type="text" readonly name="txtORGNAM" id="txtORGNAM" value="@Model["ORGNAM"]" onclick="showOrg(); return false;" />
<input type="hidden" name="hidORGID" id="hidORGID" value="@Model["ORGID"]" />

<script type="text/javascript">
    var ztree_setting_org = {
        async: {
            enable: false
        },
        data: {
            simpleData: {
                enable: true,
                idKey: "id",
                pIdKey: "pId",
                rootPId: 0
            }
        },
        view: {
            dblClickExpand: false,
            showIcon: showIconForTree
        },
        callback: {
            onClick: onClick
        }
    };

    var zNodes;
    $(function () {
        $.ajax({
            async: false,
            cache: false,
            type: 'POST',
            dataType: 'json',
            url: "/SYS/Org/SearchOrgsTree?nRoot=1",
            success: function (data) {
                zNodes = data;
            }
        });
    });

    $(document).ready(function () {
        if (zNodes.length == 0)
            $("#txtORGNAM").parent().hide();
        else
            $.fn.zTree.init($("#treeOrg"), ztree_setting_org, zNodes);
    });

    function onClick(e, treeId, treeNode) {
        var zTree = $.fn.zTree.getZTreeObj("treeOrg"),
        nodes = zTree.getSelectedNodes(),
        v = "", id = "";
        nodes.sort(function compare(a, b) { return a.id - b.id; });
        for (var i = 0, l = nodes.length; i < l; i++) {
            v += nodes[i].name + ",";
            id += nodes[i].id + ",";
        }
        if (v.length > 0) v = v.substring(0, v.length - 1);
        if (id.length > 0) id = id.substring(0, id.length - 1);
        var orgid = $("#txtORGNAM");
        orgid.attr("value", v);
        $("#hidORGID").val(id);
        hideMenu();
    }

    function showIconForTree(treeId, treeNode) {
        return false;
    };
    function onBodyDown(event) {
        if (!(event.target.id == "orgTreeContent" || $(event.target).parents("#orgTreeContent").length > 0)) {
            hideMenu();
        }
    }
    function hideMenu() {
        $("#orgTreeContent").fadeOut("fast");
        $("body").unbind("mousedown", onBodyDown);
    }
    function showOrg() {
        var orgObj = $("#txtORGNAM");
        var orgOffset = $("#txtORGNAM").offset();
        $("#orgTreeContent").css({ left: orgOffset.left + "px", top: orgOffset.top + orgObj.outerHeight() + "px" }).slideDown("fast");

        $("body").bind("mousedown", onBodyDown);
    }
</script>
