packages
gzsw.controller/bin/
gzsw.controller/obj/
gzsw.dal/bin/
gzsw.dal/obj/
gzsw.model/bin/
gzsw.model/obj/
gzsw.util/bin/
gzsw.util/obj/
gzsw.test/bin/
gzsw.test/obj/
gzsw.web/bin/
gzsw.web/obj/
gzsw.web/obj/
gzsw.web/Log/
gzsw.web/Uploads/
gzsw.web/Upload/
gzsw.winservice/bin/
gzsw.winservice/obj/
.suo
TestResults
