@using gzsw.web
@{
    ViewBag.Title = "Bottom";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
<style type="text/css">
    body {
        background-color: #edf6fa;
        background-repeat: no-repeat;
        background-position: center top;
        overflow: hidden;
        border: 1px solid #b7d5df;
    }
    .loginbm {
        height: 30px;
        line-height: 30px; 
    }
</style>
<div class="loginbm">版权所有  2014  </div>
