<div id="pager" class="l-panel-bar">
    <div class="l-panel-bbar-inner">
        <div class="l-bar-group  l-bar-message">
            @*<span class="l-bar-text">当前第1页/共1页 (共:18条记录/每页显示:20)</span>*@
        </div><div class="l-bar-group">
            <select class="pagesize">
                <option selected="selected" value="10">10</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
            </select>
        </div>
        <div class="l-bar-separator"></div>
        <div class="l-bar-group">
            <div class="l-bar-button l-bar-btnfirst">
                <span title="首页" class="first"></span>
            </div>
            <div class="l-bar-button l-bar-btnprev">
                <span title="上一页" class="prev"></span>
            </div>
        </div>
        <div class="l-bar-separator"></div>
        <div class="l-bar-group">
            <span class="pcontrol">
                <input type="text" style="width: 30px; height: 14px;" readonly="readonly" class="pagedisplay" />
            </span>
        </div>
        <div class="l-bar-separator"></div>
        <div class="l-bar-group">
            <div class="l-bar-button l-bar-btnnext">
                <span class="next" title="下一页"></span>
            </div>
            <div class="l-bar-button l-bar-btnlast">
                <span class="last" title="尾页"></span>
            </div>
        </div>
    </div>
</div>