a:focus {
    outline: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

.gzsw_Head { 
height: 100px;
margin: 3px;
background: url('../img/gzsw_head_bg.jpg') repeat-x;
border-radius: 10px;
}

/* logo面板 */

.logo_txt {
    position: absolute;
    width: 500px;
    height: 87px;
    background: url('../img/sys_logo_text.png') repeat-x;
}


.gzsw_TopMenu {
    height: 30px;
    text-align: right;
}

    .gzsw_TopMenu ul {
        float: right; 
        height: 24px;
        background: url('../img/gzsw_topMenu.png') repeat-x;
    }

    
        .gzsw_TopMenu  ul .end {
            width: 26px; 
               height: 20px; 
            background: url(../img/gzsw_topMenu_right.png) no-repeat right;
        }

             .gzsw_TopMenu  ul .first {
                 width: 26px; 
               height: 20px;

            background: url(../img/gzsw_topMenu_left.png) no-repeat right;
        }

        .gzsw_TopMenu ul li {
            list-style: none;
            float: right;
            padding: 2px 5px 2px 5px;
            font-size: 12px;
            background: url(../img/line.gif) no-repeat right;
        }

          
           


/* 主菜单 */
.gzsw_MainMenu {
    margin-top: 20px;
    margin-left: 10px;
}


    .gzsw_MainMenu ul li {
        background: url('../img/gzsw_main_btn.png') repeat-x;
        list-style: none;
        float: left;
        padding: 9px 5px 0px 5px;
        width: 98px;
        margin-right: 4px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        height: 25px
    }

 
  
    .gzsw_MainMenu ul .sel { 
         background: url('../img/gzsw_main_btn_hover.png') repeat-x;
        color:#005580;
        font-weight: bold;
    }
   #mainNavPanel .sel a{ 
       color:#005580;
       font-weight:600;
    }
    

  .gzsw_MainMenu ul li:hover {
        background: url('../img/gzsw_main_btn_hover.png') repeat-x;
    }

  


    /* 左菜单 */ 
    .gzsw_LeftMenu {
    width: 225px;  
    border-radius: 10px;
    padding-bottom: 5px;
    background-color: #fff; 
}

    .gzsw_LeftMenu .gzsw_LeftMenu_Title {
        background: url('../img/gzsw_LeftMenu_Title.png') repeat-x;
        height: 22px;
        line-height: 25px;
        width: 215px; 
        padding: 3px 5px 15px 5px;
        text-align: center;
        font-size: 16px; 
    }


    .gzsw_LeftMenu .gzsw_LeftMenu_MainTitle_On {
        background: url('../img/gzsw_LeftMenu_MainTitle_On.png') repeat-x;
        height: 28px;
        width: 196px;
        margin: 5px 12px 5px 12px;
        cursor: pointer;
        padding: 2px;  
        font-size: 14px; 
        line-height: 21px;

    }

    .gzsw_LeftMenu .gzsw_LeftMenu_MainTitle_On  a,.gzsw_LeftMenu .gzsw_LeftMenu_MainTitle_Off a{
        color: #063f60;
        margin-left: 38px;
    }

    .gzsw_LeftMenu .gzsw_LeftMenu_MainTitle_Off {
        background: url('../img/gzsw_LeftMenu_MainTitle_Off.png') repeat-x;
        height: 28px;
        width: 196px;
        margin:5px 12px 5px 12px;
        cursor: pointer;
        padding: 2px; 
        font-size: 14px; 
        line-height: 21px;
    }
     .gzsw_LeftMenu ul {
         padding: 0px 40px 0px 30px; 
     }
    .gzsw_LeftMenu ul li {
        list-style: none;
        padding: 5px;
        font-size: 14px;
        text-align: left;
        border-bottom: 1px solid #0b5882;
        letter-spacing: 2px;

    }

    /* 左菜单 */
    #gzsw_LeftMenu {
        padding-left: 2px;
    }

   /* 重置 */
   .content {
       padding-right: 2px;
       min-height: 600px;
       border: 1px solid #87cef5;
   }

   #mainNavPanel a {
       color: #fff;
   }
   #mainNavPanel li:hover{
       color:#005580;
       font-weight: bold;
   }
    #mainNavPanel a:hover{
       color:#005580;
       font-weight: bold;
   }

   

    
/* 透明背景 */
.filterBg {
    filter: alpha(opacity=80); /*IE滤镜，透明度50%*/
    -moz-opacity: 0.8; /*Firefox私有，透明度50%*/
    opacity: 0.8; /*其他，透明度50%*/
}
