<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="gzswEntities" connectionString="metadata=res://*/gzsw.csdl|res://*/gzsw.ssdl|res://*/gzsw.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=10.10.1.184;Database=NSFWJXDB;UID=sa;Password=sa123456789@;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="gzswEntities2" connectionString="Server=10.10.1.184;Database=NSFWJXDB;UID=sa;Password=sa123456789@;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>