@using gzsw.web
@{
    ViewBag.Title = "Welcome";
}

 <!DOCTYPE html>
<html>
<head>
    <title>欢迎页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <style type="text/css">
        body{background-color:#fff;}
    </style>
</head>
<body>
    <img src="@Html.Url("Content/bootstrap/images/gzsw_main_bg.png") " />
</body>
</html>